* {
    font-family: sans-serif;
}

main > svg,
span#mapa {
    width: calc(50% - 30px);
    padding: 15px;
    text-align: center;
}

span#mapa svg {
    max-height: 1000px;
}

svg path.this {
    fill: blue;
}

svg path:hover {
    fill: lightskyblue!important;
}

body.match svg path.match {
    fill: darkgray!important;
}

main > * {display: inline-block;}
main * {vertical-align: middle;}

div#powiat_info {
    /* text-align: center; */
    width: calc(50% - 10px);
}

div#powiat_info:has(li) {
    max-height: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
}

div h2 {
    text-align: center;
}

span#images {
    text-align: center;
    width: 100%;
    display: inline-block;
}

img#godlo, img#flaga {
    max-height: 75px;
    border: 1px solid lightgrey;
}

img#wojewodztwo {
    height: 30px;
    border: 1px solid lightgrey;
}

input {
    width: 100%;
    padding: 3px 5px;
}

span.tab {
    background-color: #09f;
    font-family: monospace;
    padding: 4px 6px;
    color: white;
    font-sizE: 115%;
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid steelblue;
}

span.tab.tab-nieuzywane {
    background-color: #8cf;
    border-style: dashed;
}

span.tab.tab-zabytek {
    background-color: #fd0;
    color: black;
    border-color: goldenrod;
}

footer {
    color: grey;
    padding: 10px;
}

@media (max-width: 800px) {
    main > svg, span#mapa {padding: 10px; width: 100%; width: calc(100% - 20px);}
    div#powiat_info {width: 100%;}
}